{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% include 'metrika.html' %}
    {% include 'google_tag.html' %}
    {% include 'calltouch.html' %}
    <link rel="icon" href="{% static 'assets/images/fav_icon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/images/Dr_Vitta_logo_for_fav_2.png' %}" type="image/png">
<!--    <link rel="icon" href="{% static 'assets/images/Dr_Vitta_logo_for_fav_2.svg' %}" type="image/svg+xml">-->
    <meta name="yandex-verification" content="2e72c8480e8c0fbe" />
    <meta name="google-site-verification" content="BpU9vcltrooQ2PGi9TuHw8SD1xdOB8eTNsS3c1BZU0c" />
    {% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/superclasses.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/mobile.css' %}">
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDDFXKC4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'header.html' %}


{% include 'scrolltop.html' %}
{% block content %}{% endblock %}

{% include 'footer.html' %}
{% block scripts %}{% endblock %}


</body>
</html>