{% load static %}

<!-- FOOTER SECTION -->
    <section class="footer-main-section w-100 float-left">
        <div class="container">
            <div class="footer-inner-con">
                <div class="footer-box footer-logo-box">
                    <figure>
                        <img src="{% static 'assets/images/logo_dr_vitta_footer.png' %}" alt="footer-logo">
                    </figure>
                    <p>Общество с ограниченной ответственностью  «ВиттаМед»
                        ИНН: 5001154570<br>
                        ОГРН: 1235000103337<br>
                        Юридический адрес: 143900, Россия, Московская Обл., Балашиха, Тер. западная коммуная зона, Энтузиастов ш., влд. 1а, пом. 1</p>
                    <p>Ежедневно с 06-30 до 19-30</p>
                    <p class="mb-0">Регистрационный номер лицензии: Л041-01162-50/01069581</p>
                    <p class="mb-0">Дата предоставления лицензии: 21.02.2024</p>
                    <p class="mb-0"><a href="https://anketa.rosminzdrav.ru/staticogvjustank/30/1" target="_blank">Амбулаторные условия</a></p>
                </div>

                <div class="footer-box contact-details-box">
                    <h4>Контакты</h4>
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt"></i>Балашихинское шоссе, дом 12, Балашиха, МО.
                        </li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:Info@docvitta.ru">Info@docvitta.ru</a></li>
                        <li><i class="fas fa-phone-alt"></i><a href="tel:+79398397496">+7 939 839 74 96</a></li>
                        <li><i class="fas fa-phone-alt"></i><a href="tel:+74953632277">+7 495 363 22 77</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-newsletter">
                    <h4>Вышестоящие контролирующие органы</h4>
                    <p>Ногинский территориальный отдел Управления Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Московской области в г. Ногинск на ул. Климова<br>
                        142412, Московская область, г. Ногинск, ул. Климова, д. 37<br>
                        8-800-350-24-68
                    </p>
                    <p>
                        Территориальный орган Росздравнадзора по г. Москве и Московской области<br>
                        office@reg77.roszdravnadzor.gov.ru<br>
                        109316, г. Москва, Волгоградский проспект, дом 27<br>
                        8 (916) 256-76-76
                    </p>
<!--                    <ul class="list-unstyled">-->
<!--                        <li>-->
<!--                            <input type="email" placeholder="Enter Your Email Address:">-->
<!--                            <button type="submit"><i class="fas fa-paper-plane"></i></button>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <div class="social-links">-->
<!--                        <ul class="list-unstyled mb-0 d-flex">-->
<!--                            <li class="d-flex justify-content-center align-items-center mb-0"><a-->
<!--                                    href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                            <li class="d-flex justify-content-center align-items-center mb-0"><a-->
<!--                                    href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i-->
<!--                                        class="fab fa-twitter"></i></a></li>-->
<!--                            <li class="d-flex justify-content-center align-items-center mb-0"><a-->
<!--                                    href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <div class="copyright-con w-100 float-left text-center">
        <p class="mb-0">ООО "ВиттаМед" © 2024</p>
    </div>
    <a id="button"></a>
<!-- FOOTER SECTION -->