{% load static %}
<!-- GET IN TOUCH SECTION -->
<section class="get-in-touch-section w-100 float-left">
    <div class="container">
        <div class="contact-section" data-aos="fade-up" data-aos-duration="700">
            <div class="doctor-img-con"></div>
            <div class="contact-txt-con">
                <div class="generic-title mb-0">
                    <span class="sub-txt d-block">Приходите на прием</span>
                    <h2>Обеспечим Вам лучшее медицинское обслуживание!</h2>
                </div>
                <div class="submit-btn">
                    <a href="https://docvitta.infoclinica.ru/login">Записаться на прием</a>
                    <a href="https://docvitta.infoclinica.ru/login">
                        <figure class="mb-0">
                            <img src="{% static 'assets/images/top-arrow.png' %}" alt="top-arrow">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GET IN TOUCH SECTION -->