{% load static %}
<!-- HEADER SECTION -->
    <header class="w-100 float-left header-con">
        <div class="wrapper">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand" href="{% url 'homepage:index' %}">
                    <figure class="mb-0">
                        <img src="{% static 'assets/images/logo_dr_vitta_2.png' %}" alt="logo">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0"  id="navbarDropdown32" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Клиника
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown32">
                                <ul class="list-unstyled mb-0">
                                    <li><a class="dropdown-item" href="{% url 'homepage:about' %}">О нас</a></li>
                                    <li><a class="dropdown-item" href="{% url 'homepage:vacancy' %}">Вакансии</a></li>
                                    <li><a class="dropdown-item" href="{% url 'homepage:doctors' %}">Врачи</a></li>
                                    <li><a class="dropdown-item" href="{% url 'homepage:partners' %}">Партнеры</a></li>
                                    <li><a class="dropdown-item" href="https://www.mofoms.ru/fond/subekty-i-uchastniki.php" target="_blank">Сведения о ТФОМС</a></li>
                                    <li><a class="dropdown-item" href="https://yandex.ru/maps/org/doktor_vitta/86760931983/reviews/?add-review=true" target="_blank">Отзывы</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="https://docvitta.infoclinica.ru/" target="_blank">Личный кабинет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="https://docvitta.infoclinica.ru/pricelist" target="_blank">Цены</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0"  id="navbarDropdown3" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Пациентам
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <ul class="list-unstyled mb-0">
                                    <li><a class="dropdown-item" href="https://docvitta.infoclinica.ru/pricelist" target="_blank">Платные услуги</a></li>
                                    <li><a class="dropdown-item" href="/page/7/">Информация для пациентов</a></li>
                                    <li><a class="dropdown-item" href="/page/8/">Политика обработки перс.данных</a></li>
                                    <li><a class="dropdown-item" href="/form_anketa/">Анкета обратной связи</a></li>
                                    <li><a class="dropdown-item" href="/article/">Статьи</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="{% url 'homepage:sales' %}">Акции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="{% url 'homepage:contact' %}">Контакты</a>
                        </li>
                    </ul>
                    <div class="header-contact d-flex align-items-center">
<!--                        <div class="search-field">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'assets/images/search-icon.png' %}" alt="search-icon">-->
<!--                            </a>-->
<!--                        </div>-->
                        <div class="phone d-flex align-items-center">
                            <figure class="mb-0">
                                <img src="{% static 'assets/images/headphone-icon.png' %}" alt="headphone-icon">
                            </figure>
                            <div class="phone-txt">
                                <span class="d-block">Справочная служба:</span>
                                <a href="tel:+74953632277">+7 495 363 22 77</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
<!-- HEADER SECTION -->