{% load static %}
<!-- PATIENTS REVIEWS SECTION -->
    <section class="patients-reviews-sec w-100 float-left padding-top padding-bottom">
        <div class="container">
            <div class="generic-title text-center" data-aos="fade-up" data-aos-duration="700">
                <span class="d-block sub-txt">Отзывы</span>
                <h2 class="mb-0">Что о нас говорят пациенты!</h2>
            </div>
            <div id="owl-carouselone" class="owl-carousel owl-theme" data-aos="fade-up" data-aos-duration="700">
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Quisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img1.png'%}" alt="patient-img1">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Kevin Andrew</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Ruisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img2.png'%}" alt="patient-img2">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Peri James</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Nuisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img3.png'%}" alt="patient-img3">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Naurth Reough</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Quisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img1.png'%}" alt="patient-img1">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Kevin Andrew</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Ruisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img2.png'%}" alt="patient-img2">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Peri James</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Nuisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img3.png'%}" alt="patient-img3">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Naurth Reough</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Quisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img1.png'%}" alt="patient-img1">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Kevin Andrew</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Ruisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img2.png'%}" alt="patient-img2">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Peri James</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="review-box">
                        <figure>
                            <img src="{% static 'assets/images/quote-img.png'%}" alt="quote-img">
                        </figure>
                        <p>Nuisuam est rui dolorem ipsum rui
                            dolor sit amet, consectetur, adipise
                            velit sed quia non numquam eiusm
                            tempora incidunt ut labore</p>
                        <div class="patient-details d-flex">
                            <div class="patient-img">
                                <figure class="mb-0">
                                    <img src="{% static 'assets/images/patient-img3.png'%}" alt="patient-img3">
                                </figure>
                            </div>
                            <div class="patient-rating">
                                <figure>
                                    <img src="{% static 'assets/images/rating-stars.png'%}" alt="rating-stars">
                                </figure>
                                <h5>Naurth Reough</h5>
                                <span class="d-block">Happy Client</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- PATIENTS REVIEWS SECTION -->