<section class="blogs-section w-100 float-left padding-top padding-bottom">
    <div class="container">
        <div class="generic-title text-center" data-aos="fade-up" data-aos-duration="700">
            <span class="sub-txt d-block">Акции</span>
            <h2>Наши особые предложения</h2>
        </div>
        <div class="blogs-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div id="owl-carouseltwo" class="owl-carousel owl-theme">
                {% for sale in sales %}
                <div class="item">
                    <div class="blog-box">
                        <div class="blog-img-box"><img src="{{ sale.image.url }}" width="350px" alt="{{ sale.name }}"></div>
                        <div class="blog-details" style="margin-top: 22px;    padding: 10px 10px 10px;">
<!--                            <span class="d-block"><i class="fas fa-calendar-alt"></i> Mar 20, 2021</span>-->
<!--                            <h4><a href="single-blog.html">Get the Home care and-->
<!--                                nursing service</a></h4>-->
<!--                            <p>{{ sale.name }}</p>-->
                            <a href="{{ sale.file.url }}" target="_blank">Подробнее<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
