<div class="box1 box3">
    <h5 data-aos="fade-up" data-aos-duration="700">Подписывайтесь</h5>
    <div class="social-icons">
        <ul class="mb-0 list-unstyled">
            <li data-aos="fade-up" data-aos-duration="700"><a href="https://vk.com/doctorvitta"
                                                              class="text-decoration-none"><i
                    class="fab fa-linkedin-in"></i></a></li>
            <li data-aos="fade-up" data-aos-duration="700"><a
                    href="https://instagram.com/doctorvitta" class="text-decoration-none"><i
                    class="fab fa-instagram"></i></a></li>
            <li data-aos="fade-up" data-aos-duration="700"><a href="https://ok.ru/group/70000004744559"
                                                              class="text-decoration-none"><i
                    class="fab fa-facebook-f"></i></a></li>
            <li data-aos="fade-up" data-aos-duration="700"><a
                    href="https://dzen.ru/doctorvitta"
                    class="text-decoration-none"><i class="fab fa-twitter"></i></a></li>
            <li data-aos="fade-up" data-aos-duration="700"><a
                    href="https://t.me/docvitta"
                    class="text-decoration-none"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>