{% extends 'base.html' %}
{% load static %}
{% block title %}Клиника "Доктор Витта" - Врачи{% endblock %}
{% block content %}
    <!-- BANNER SECTION -->
    <section class="w-100 float-left doctors-banner-sec sub-banner-con position-relative">
        <div class="wrapper2">
            <div class="sub-banner-inner-box banner-inner-box position-relative text-center w-100 float-left">
                <h1 data-aos="fade-up" data-aos-duration="700">Врачи</h1>
                <p data-aos="fade-up" data-aos-duration="700">У наших специалистов большой опыт работы<br>
                    </p>
<!--                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-duration="700">-->
<!--                    <ol class="breadcrumb d-inline-block mb-0">-->
<!--                        <li class="breadcrumb-item d-inline-block"><a href="index.html">Home</a></li>-->
<!--                        <li class="breadcrumb-item active text-white d-inline-block" aria-current="page">Doctors</li>-->
<!--                    </ol>-->
<!--                </nav>-->
            </div>
        </div>
    </section>
    <!-- BANNER SECTION -->
    <!-- TEAM SECTION -->
    <section class="team-section bg-design w-100 float-left padding-top padding-bottom">
        <div class="container">
            <div class="generic-title text-center">
                <span class="sub-txt d-block" data-aos="fade-up" data-aos-duration="700">Команда</span>
                <h2 class="mb-0" data-aos="fade-up" data-aos-duration="700">Наши врачи</h2>
            </div>
            <div class="team-members-con">
                <ul class="list-unstyled mb-0">
                    {% for empl in employees %}
                    <li class="text-center">
                        <figure data-aos="fade-up" data-aos-duration="700">
                            <img src="{{ empl.photo.url }}" alt="team-img1">
                        </figure>
                        <h4 data-aos="fade-up" data-aos-duration="700">{{ empl.name }}</h4>
                        <span class="d-block" data-aos="fade-up" data-aos-duration="700">{{ empl.job }}</span>
                        <div class="social-links">
                            <ul class="list-unstyled mb-0 d-flex justify-content-center" data-aos="fade-up"
                                data-aos-duration="700">
<!--                                <li class="d-flex justify-content-center align-items-center"><a-->
<!--                                        href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>-->
<!--                                </li>-->
<!--                                <li class="d-flex justify-content-center align-items-center"><a-->
<!--                                        href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i-->
<!--                                            class="fab fa-twitter"></i></a></li>-->
<!--                                <li class="d-flex justify-content-center align-items-center"><a-->
<!--                                        href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <!-- TEAM SECTION -->
{% include 'getintouch.html' %}

    <script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/owl.carousel.js'%}"></script>
    <script src="{% static 'assets/js/aos.js'%}"></script>
    <script>
        $(window).on('load', function(){ 
        // Preloader
        $('.loader').fadeOut();
        $('.loader-mask').delay(350).fadeOut('slow');
        });
    </script>
    <script>
        var btn = $('#button');
         
         $(window).scroll(function() {
           if ($(window).scrollTop() > 300) {
           btn.addClass('show');
         }
          else {
           btn.removeClass('show');
         }
         });
         btn.on('click', function(e) {
         e.preventDefault();
         $('html, body').animate({scrollTop:0}, '300');
       });
    </script>
    <script>
        AOS.init();
    </script>
    <script>
        $('#owl-carouselone').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 10000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
        $('#owl-carouseltwo').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            autoplay: true,
            autoplayTimeout: 10000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
    <script>
        AOS.init();
        function lightbox_open() {
            var lightBoxVideo = document.getElementById("VisaChipCardVideo");
            //   window.scrollTo(0, 0);
            document.getElementById('light').style.display = 'block';
            document.getElementById('fade1').style.display = 'block';
            lightBoxVideo.play();
        }

        function lightbox_close() {
            var lightBoxVideo = document.getElementById("VisaChipCardVideo");
            document.getElementById('light').style.display = 'none';
            document.getElementById('fade1').style.display = 'none';
            lightBoxVideo.pause();
        }
    </script>
    <script>
        $(document).ready(function () {

            var counters = $(".count");
            var countersQuantity = counters.length;
            var counter = [];

            for (i = 0; i < countersQuantity; i++) {
                counter[i] = parseInt(counters[i].innerHTML);
            }

            var count = function (start, value, id) {
                var localStart = start;
                setInterval(function () {
                    if (localStart < value) {
                        localStart++;
                        counters[id].innerHTML = localStart;
                    }
                }, 40);
            }

            for (j = 0; j < countersQuantity; j++) {
                count(0, counter[j], j);
            }
        });



        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 3300,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>
{% endblock %}