{% extends 'base.html' %}
{% load static %}
{% block title %}Клиника "Доктор Витта - Анкета посетителя"{% endblock %}
{% block description %}
<meta name="description"
      content="Медицинская клиника Доктор Вита предлагает высококачественные медицинские услуги и профессиональную помощь. Мы заботимся о вашем здоровье."/>
{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/aos.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/custom-style.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/special-classes.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/superclasses.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/mobile.css'%}">
{% endblock %}
{% block content %}
<!-- BANNER SECTION -->
<section class="w-100 float-left sub-banner-con position-relative"
         style="max-height: 120px; background: url({% static 'assets/images/sub-banner-bg-img2.jpg' %}) no-repeat center;">
    <div class="wrapper2">
        <div class="sub-banner-inner-box banner-inner-box position-relative text-center w-100 float-left">
            <h1 data-aos="fade-up" data-aos-duration="700">Анкета посетителя</h1>
            <p data-aos="fade-up" data-aos-duration="700"><br>
            </p>
        </div>
    </div>
</section>
<!-- BANNER SECTION -->
<!-- Single Blog -->
<section class="singleblog-section blogpage-section w-100 float-left">
    <div class="container">
        <div class="generic-title text-center">
            <h2 class="mb-0" data-aos="fade-up" data-aos-duration="700">Анкета посетителя</h2>
            <span class="d-block sub-txt" data-aos="fade-up" data-aos-duration="700"></span>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="main-box">
                    <figure class="image1" data-aos="fade-up" data-aos-duration="700">

                    </figure>
                    <div class="content1">
                        <!--                            <h4 data-aos="fade-up" data-aos-duration="700">{{ page.name }}</h4>-->
                        <!--                            <i class="fas fa-user" data-aos="fade-up" data-aos-duration="700"></i>-->

                        <p class="text-size-14" data-aos="fade-up" data-aos-duration="700" style="text-align: center">
                         Анкета отправлена. Благодарим вас за ответы.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 column">
                {% include 'socnetworks.html' %}
            </div>
        </div>
    </div>
</section>
<!--blog-sec-->

<script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'assets/js/popper.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/contact-form.js'%}"></script>
<script src="{% static 'assets/js/jquery.validate.js'%}"></script>
<script src="{% static 'assets/js/aos.js'%}"></script>
<script>
    $(window).on('load', function () {
        // Preloader
        $('.loader').fadeOut();
        $('.loader-mask').delay(50).fadeOut('slow');
    });
</script>
<script>
    var btn = $('#button');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });
    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, '300');
    });
</script>
<script>
    AOS.init();
</script>

{% endblock %}
