{% extends 'base.html' %}
{% load static %}
{% block title %}Клиника "Доктор Витта - Анкета посетителя"{% endblock %}
{% block description %}
<meta name="description"
      content="Медицинская клиника Доктор Вита предлагает высококачественные медицинские услуги и профессиональную помощь. Мы заботимся о вашем здоровье."/>
{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/aos.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/custom-style.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/special-classes.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/superclasses.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/mobile.css'%}">
{% endblock %}
{% block content %}
<!-- BANNER SECTION -->
<section class="w-100 float-left sub-banner-con position-relative"
         style="max-height: 120px; background: url({% static 'assets/images/sub-banner-bg-img2.jpg' %}) no-repeat center;">
    <div class="wrapper2">
        <div class="sub-banner-inner-box banner-inner-box position-relative text-center w-100 float-left">
            <h1 data-aos="fade-up" data-aos-duration="700">Анкета посетителя</h1>
            <p data-aos="fade-up" data-aos-duration="700"><br>
            </p>
        </div>
    </div>
</section>
<!-- BANNER SECTION -->
<!-- Single Blog -->
<section class="singleblog-section blogpage-section w-100 float-left">
    <div class="container">
        <div class="generic-title text-center">
            <h2 class="mb-0" data-aos="fade-up" data-aos-duration="700">Анкета посетителя</h2>
            <span class="d-block sub-txt" data-aos="fade-up" data-aos-duration="700"></span>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="main-box">
                    <figure class="image1" data-aos="fade-up" data-aos-duration="700">

                    </figure>
                    <div class="content1">
                        <!--                            <h4 data-aos="fade-up" data-aos-duration="700">{{ page.name }}</h4>-->
                        <!--                            <i class="fas fa-user" data-aos="fade-up" data-aos-duration="700"></i>-->

                        <p class="text-size-14" data-aos="fade-up" data-aos-duration="700">
                        <form action="/form_anketa/" method="POST">
                            {% csrf_token %}
                            <p>Удовлетворены ли Вы качеством оказанной медицинской помощи?<br/>

                                <input name="q1" type="radio" value="Удовлетворены ли Вы качеством оказанной медицинской помощи? 1. Очень высокое"/> 1. Очень высокое<br/>
                                <input name="q1" type="radio" value="Удовлетворены ли Вы качеством оказанной медицинской помощи? 2. Высокое"/> 2. Высокое<br/>
                                <input name="q1" type="radio" value="Удовлетворены ли Вы качеством оказанной медицинской помощи? 3. Среднее"/> 3. Среднее<br/>
                                <input name="q1" type="radio" value="Удовлетворены ли Вы качеством оказанной медицинской помощи? 4. Низкий"/> 4. Низкий<br/>
                                <input name="q1" type="radio" value="Удовлетворены ли Вы качеством оказанной медицинской помощи? 5. Очень низкий"/> 5. Очень низкий</p>

                            <p>Удовлетворены ли Вы работой администраторов (срок ожидания и обслуживание)?<br/>


                                <input name="q2" type="radio" value="Удовлетворены ли Вы работой администраторов (срок ожидания и обслуживание)? 1. На высшем уровне"/> 1. На высшем уровне<br/>
                                <input name="q2" type="radio" value="Удовлетворены ли Вы работой администраторов (срок ожидания и обслуживание)? 2. Больше да"/> 2. Больше да<br/>
                                <input name="q2" type="radio" value="Удовлетворены ли Вы работой администраторов (срок ожидания и обслуживание)? 3. Средний уровень"/> 3. Средний уровень<br/>
                                <input name="q2" type="radio" value="Удовлетворены ли Вы работой администраторов (срок ожидания и обслуживание)? 4. Низкий уровень"/> 4. Низкий уровень<br/>
                                <input name="q2" type="radio" value="Удовлетворены ли Вы работой администраторов (срок ожидания и обслуживание)? 5. Очень плохо"/> 5. Очень плохо</p>

                            <p>Навязывание медицинским центром дополнительных услуг, которые Вам, по Вашему мнению, не
                                нужны (например, покупка лекарств в данном центре, необходимость посещения непрофильных
                                специалистов и т.п.)<br/>

                                <input name="q3" type="radio" value="Навязывание медицинским центром дополнительных услуг, которые Вам, по Вашему мнению, не нужны (например, покупка лекарств в данном центре, необходимость посещения непрофильных специалистов и т.п.) 1. Очень сильно"/> 1. Очень сильно<br/>
                                <input name="q3" type="radio" value="Навязывание медицинским центром дополнительных услуг, которые Вам, по Вашему мнению, не нужны (например, покупка лекарств в данном центре, необходимость посещения непрофильных специалистов и т.п.) 2. Сильно"/> 2. Сильно<br/>
                                <input name="q3" type="radio" value="Навязывание медицинским центром дополнительных услуг, которые Вам, по Вашему мнению, не нужны (например, покупка лекарств в данном центре, необходимость посещения непрофильных специалистов и т.п.) 3. Средне"/> 3. Средне<br/>
                                <input name="q3" type="radio" value="Навязывание медицинским центром дополнительных услуг, которые Вам, по Вашему мнению, не нужны (например, покупка лекарств в данном центре, необходимость посещения непрофильных специалистов и т.п.) 4. Низко"/> 4. Низко<br/>
                                <input name="q3" type="radio" value="Навязывание медицинским центром дополнительных услуг, которые Вам, по Вашему мнению, не нужны (например, покупка лекарств в данном центре, необходимость посещения непрофильных специалистов и т.п.) 5. Вообще не навязывают"/> 5. Вообще не навязывают
                            </p>

                            <p>Удобство расположения медицинского центра (понятно ли, где он находится; удобно ли добираться)<br/>

                                <input name="q4" type="radio" value="Удобство расположения медицинского центра (понятно ли, где он находится; удобно ли добираться) 1. Очень высоко"/> 1. Очень высоко<br/>
                                <input name="q4" type="radio" value="Удобство расположения медицинского центра (понятно ли, где он находится; удобно ли добираться) 2. Высоко"/> 2. Высоко<br/>
                                <input name="q4" type="radio" value="Удобство расположения медицинского центра (понятно ли, где он находится; удобно ли добираться) 3. Средне"/> 3. Средне<br/>
                                <input name="q4" type="radio" value="Удобство расположения медицинского центра (понятно ли, где он находится; удобно ли добираться) 4. Низко"/> 4. Низко<br/>
                                <input name="q4" type="radio" value="Удобство расположения медицинского центра (понятно ли, где он находится; удобно ли добираться) 5. Очень низко"/> 5. Очень низко</p>

                            <p>Удобство ожидания приема (удобство расположения гардероба, обустройство мест для ожидания, длительность ожидания приема, соблюдение графика приема пациентов.<br/>

                                <input name="q5" type="radio" value="Удобство ожидания приема (удобство расположения гардероба, обустройство мест для ожидания, длительность ожидания приема, соблюдение графика приема пациентов. 1. Очень высоко"/> 1. Очень высоко<br/>
                                <input name="q5" type="radio" value="Удобство ожидания приема (удобство расположения гардероба, обустройство мест для ожидания, длительность ожидания приема, соблюдение графика приема пациентов. 2. Высоко"/> 2. Высоко<br/>
                                <input name="q5" type="radio" value="Удобство ожидания приема (удобство расположения гардероба, обустройство мест для ожидания, длительность ожидания приема, соблюдение графика приема пациентов. 3. Средне"/> 3. Средне<br/>
                                <input name="q5" type="radio" value="Удобство ожидания приема (удобство расположения гардероба, обустройство мест для ожидания, длительность ожидания приема, соблюдение графика приема пациентов. 4. Низко"/> 4. Низко<br/>
                                <input name="q5" type="radio" value="Удобство ожидания приема (удобство расположения гардероба, обустройство мест для ожидания, длительность ожидания приема, соблюдение графика приема пациентов. 5. Очень низко"/> 5. Очень низко</p>

                            <p>Устраивает ли Вас оснащение нашей клиники (в том числе количество сидячих мест перед кабинетом врачей, процедурным кабинетом), санитарное состояние?<br/>

                                <input name="q6" type="radio" value="Устраивает ли Вас оснащение нашей клиники (в том числе количество сидячих мест перед кабинетом врачей, процедурным кабинетом), санитарное состояние? 1. Очень хорошо"/> 1. Очень хорошо<br/>
                                <input name="q6" type="radio" value="Устраивает ли Вас оснащение нашей клиники (в том числе количество сидячих мест перед кабинетом врачей, процедурным кабинетом), санитарное состояние? 2. Скорее высоко"/> 2. Скорее высоко<br/>
                                <input name="q6" type="radio" value="Устраивает ли Вас оснащение нашей клиники (в том числе количество сидячих мест перед кабинетом врачей, процедурным кабинетом), санитарное состояние? 3. Средне"/> 3. Средне<br/>
                                <input name="q6" type="radio" value="Устраивает ли Вас оснащение нашей клиники (в том числе количество сидячих мест перед кабинетом врачей, процедурным кабинетом), санитарное состояние? 4. Низко"/> 4. Низко<br/>
                                <input name="q6" type="radio" value="Устраивает ли Вас оснащение нашей клиники (в том числе количество сидячих мест перед кабинетом врачей, процедурным кабинетом), санитарное состояние? 5. Очень низко"/> 5. Очень низко</p>

                            <p>Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.)<br/>

                                <input name="q7" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 1. Очень высоко"/> 1. Очень высоко<br/>
                                <input name="q7" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 2. Высоко"/> 2. Высоко<br/>
                                <input name="q7" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 3. Средне"/> 3. Средне<br/>
                                <input name="q7" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 4. Низко"/> 4. Низко<br/>
                                <input name="q7" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 5. Очень низко"/> 5. Очень низко</p>

                            <p>Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.)<br/>

                                <input name="q8" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 1. Очень деликатны"/> 1. Очень деликатны<br/>
                                <input name="q8" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 2. Деликатны"/> 2. Деликатны<br/>
                                <input name="q8" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 3. Средне"/> 3. Средне<br/>
                                <input name="q8" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 4. Низко"/> 4. Низко<br/>
                                <input name="q8" type="radio" value="Внешний вид помещений медицинского центра (чистота, тишина, освещенность и т.п.) 5. Очень низко"/> 5. Очень низко</p>

                            <p>Устраивают ли Вас профессионализм медицинских сестер по взятию биоматериалов?<br/>

                                <input name="q9" type="radio" value="Устраивают ли Вас профессионализм медицинских сестер по взятию биоматериалов? 1. Очень высоко"/> 1. Очень высоко<br/>
                                <input name="q9" type="radio" value="Устраивают ли Вас профессионализм медицинских сестер по взятию биоматериалов? 2. Высоко"/> 2. Высоко<br/>
                                <input name="q9" type="radio" value="Устраивают ли Вас профессионализм медицинских сестер по взятию биоматериалов? 3. Средне"/> 3. Средне<br/>
                                <input name="q9" type="radio" value="Устраивают ли Вас профессионализм медицинских сестер по взятию биоматериалов? 4. Низко"/> 4. Низко<br/>
                                <input name="q9" type="radio" value="Устраивают ли Вас профессионализм медицинских сестер по взятию биоматериалов? 5. Очень низко"/> 5. Очень низко</p>

                            <p>Внешний вид сотрудников<br/>

                                <input name="q10" type="radio" value="Внешний вид сотрудников 1. Очень высоко"/> 1. Очень высоко<br/>
                                <input name="q10" type="radio" value="Внешний вид сотрудников 2. Высоко"/> 2. Высоко<br/>
                                <input name="q10" type="radio" value="Внешний вид сотрудников 3. Средне"/> 3. Средне<br/>
                                <input name="q10" type="radio" value="Внешний вид сотрудников 4. Низко"/> 4. Низко<br/>
                                <input name="q10" type="radio" value="Внешний вид сотрудников 5. Очень низко"/> 5. Очень низко</p>

                            <p>Эффективность и скорость обслуживания<br/>

                                <input name="q11" type="radio" value="Эффективность и скорость обслуживания 1. Очень высоко"/> 1. Очень высоко<br/>
                                <input name="q11" type="radio" value="Эффективность и скорость обслуживания 2. Высоко"/> 2. Высоко<br/>
                                <input name="q11" type="radio" value="Эффективность и скорость обслуживания 3. Средне"/> 3. Средне<br/>
                                <input name="q11" type="radio" value="Эффективность и скорость обслуживания 4. Низко"/> 4. Низко<br/>
                                <input name="q11" type="radio" value="Эффективность и скорость обслуживания 5. Очень низко"/> 5. Очень низко</p>

                            <p>Можете ли Вы порекомендовать своим знакомым конкретного врача/медсестру после посещения медцентра<br/>

                                <input name="q12" type="radio" value="Можете ли Вы порекомендовать своим знакомым конкретного врача/медсестру после посещения медцентра 1. 100%"/> 1. 100%<br/>
                                <input name="q12" type="radio" value="Можете ли Вы порекомендовать своим знакомым конкретного врача/медсестру после посещения медцентра 2. 90%"/> 2. 90%<br/>
                                <input name="q12" type="radio" value="Можете ли Вы порекомендовать своим знакомым конкретного врача/медсестру после посещения медцентра 3. 50%"/> 3. 50%<br/>
                                <input name="q12" type="radio" value="Можете ли Вы порекомендовать своим знакомым конкретного врача/медсестру после посещения медцентра 4. 20%"/> 4. 20%<br/>
                                <input name="q12" type="radio" value="Можете ли Вы порекомендовать своим знакомым конкретного врача/медсестру после посещения медцентра 5. Никогда"/> 5. Никогда</p>

                            <p>Удобна ли организация самостоятельной записи на прием?<br/>

                                <input name="q13" type="radio" value="Удобна ли организация самостоятельной записи на прием? 1. Да"/> 1. Да<br/>
                                <input name="q13" type="radio" value="Удобна ли организация самостоятельной записи на прием? 2. Больше ДА, чем нет"/> 2. Больше ДА, чем нет<br/>
                                <input name="q13" type="radio" value="Удобна ли организация самостоятельной записи на прием? 3. Затрудняюсь ответить"/> 3. Затрудняюсь ответить<br/>
                                <input name="q13" type="radio" value="Удобна ли организация самостоятельной записи на прием? 4. Больше НЕТ, чем да"/> 4. Больше НЕТ, чем да<br/>
                                <input name="q13" type="radio" value="Удобна ли организация самостоятельной записи на прием? 5. Нет"/> 5. Нет</p>

                            <input type="submit" value="Отправить"/>

                        </form>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 column">
                {% include 'socnetworks.html' %}
            </div>
        </div>
    </div>
</section>
<!--blog-sec-->

<script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'assets/js/popper.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/contact-form.js'%}"></script>
<script src="{% static 'assets/js/jquery.validate.js'%}"></script>
<script src="{% static 'assets/js/aos.js'%}"></script>
<script>
    $(window).on('load', function () {
        // Preloader
        $('.loader').fadeOut();
        $('.loader-mask').delay(50).fadeOut('slow');
    });
</script>
<script>
    var btn = $('#button');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });
    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, '300');
    });
</script>
<script>
    AOS.init();
</script>

{% endblock %}
