{% extends 'base.html' %}
{% load static %}
{% block title %}Клиника "Доктор Витта" - Акция {{ sale.name }}{% endblock %}
    {% block description %}
    <meta name="description" content="Медицинская клиника Доктор Вита предлагает высококачественные медицинские услуги и профессиональную помощь. Мы заботимся о вашем здоровье."/>
    {% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/custom-style.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/special-classes.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/superclasses.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/mobile.css'%}">
{% endblock %}
{% block content %}
    <!-- BANNER SECTION -->
    <section class="w-100 float-left sub-banner-con position-relative">
        <div class="wrapper2">
            <div class="sub-banner-inner-box banner-inner-box position-relative text-center w-100 float-left">
                <h1 data-aos="fade-up" data-aos-duration="700">{{ sale.name }}</h1>
                <p data-aos="fade-up" data-aos-duration="700"><br>
                    </p>
            </div>
        </div>
    </section>
    <!-- BANNER SECTION -->
    <!-- Single Blog -->
    <section class="singleblog-section blogpage-section w-100 float-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="main-box">
                        <figure class="image1" data-aos="fade-up" data-aos-duration="700">
                            {% if sale.image.url is not null %}<img src="{{ sale.image.url }}" alt="" class="img-fluid">{% endif %}
                        </figure>
                        <div class="content1">
                            <h4 data-aos="fade-up" data-aos-duration="700">{{ sale.name }}</h4>
                            <i class="fas fa-user" data-aos="fade-up" data-aos-duration="700"></i>

                            <p class="" data-aos="fade-up" data-aos-duration="700">{{ sale.text|safe }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 column">
                    <div class="box1 box2">
                        <h5 data-aos="fade-up" data-aos-duration="700">Другие акции</h5>
                        <ul class="list-unstyled mb-0">
                            {% for sale in sales %}
                            <li class="text-size-16" data-aos="fade-up" data-aos-duration="700"><a
                                    href="{% url 'homepage:sale' id=sale.id %}">{{sale.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% include 'socnetworks.html' %}
                </div>
            </div>
        </div>
    </section>
    <!--blog-sec-->

    <script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/contact-form.js'%}"></script>
    <script src="{% static 'assets/js/jquery.validate.js'%}"></script>
    <script src="{% static 'assets/js/aos.js'%}"></script>
    <script>
        $(window).on('load', function(){
        // Preloader
        $('.loader').fadeOut();
        $('.loader-mask').delay(50).fadeOut('slow');
        });
    </script>
    <script>
        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            }
            else {
                btn.removeClass('show');
            }
        });
        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>
    <script>
        AOS.init();
    </script>

{% endblock %}
